
@base_blue:   #005b7f;
@base_green:  #005952;
@base_red:    #cc3333;

@white:       #fafafa;
@black:       #1a1a1a;


// Bootstrap
@brand-primary: @base_blue;
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;



// from clndr
@red: #ff5a45;
@blue: #71bbd2;
@dark-blue: #3883a3;
@dark-green:  #69a776;
@light-green: #97ce7f;
@dark-gray: #414141;
@light-gray: #cccccc;
@lightest-gray: #ebebeb;
@yellow: #ddca9a;
